{block icon}<i class="fa fa-font"></i>{/block}
{block title}{_'textBlockModule.title'}{/block}
{block action}{_'textBlockModule.overview.title'}{/block}

{block content}

<div class="row mb-4">
	<div class="col-12">
		<span class="h2 float-start">{include icon} <span class="d-none d-md-inline">{include title}</span> &raquo; {include action}</span>
		<a n:if="$isUserAllowedToAdd" n:href=":TextBlock:Add:default" class="btn btn-success float-end">
			<i class="fa fa-plus"></i>
			<span class="d-none d-lg-inline">{_'textBlockModule.overview.new'}</span>
		</a>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>{_'textBlockModule.overview.table.head.slug'}</th>
				<th n:if="$isUserAllowedToEdit || $isUserAllowedToDelete">{_'textBlockModule.overview.table.head.actions'}</th>
			</tr>
		</thead>
		<tbody n:snippet="rows">
			{foreach $items as $id => $item}
				<tr n:snippet="row-{$id}">
					<td>{$item->getSlug()}</td>
					<td>
						<a n:if="$isUserAllowedToEdit" n:href=":TextBlock:Edit:default $id" class="btn btn-sm btn-dark">
							<span class="d-none d-lg-inline">{_'textBlockModule.overview.table.body.action.edit'}</span>
							<i class="fa fa-edit"></i>
						</a>
						<a n:if="$isUserAllowedToDelete" n:href="delete! $id" class="btn btn-sm btn-danger">
							<span class="d-none d-lg-inline">{_'textBlockModule.overview.table.body.action.delete'}</span>
							<i class="far fa-trash-can"></i>
						</a>
					</td>
				</tr>
			{/foreach}
		</tbody>
	</table>
</div>
