{block icon}<i class="fa fa-font"></i>{/block}
{block title}{_'textBlockModule.title'}{/block}
{block action}{_'textBlockModule.add.title'}{/block}

{block content}

<h2 class="mb-4"><a n:href=":TextBlock:Overview:default" class="text-decoration-none text-primary">{include icon} <span class="d-none d-md-inline">{include title}</span></a> &raquo; {include action}</h2>

<div n:snippet="addForm">
    {form addForm}
        <div class="row mb-3">
            <div class="col-12 col-md-3">
                {label slug, "class" => "form-label" /}
            </div>

            <div class="col">
                {input slug, "class" => "form-control"}
            </div>
        </div>

        {foreach $locales as $l}
            <div class="row mb-3">
                <div class="col-12 col-md-3">
                    {label "content_" . $l, "class" => "form-label" /}
                </div>
                <div class="col">
                    {input "content_" . $l, "class" => "form-control wysiwyg"}
                </div>
            </div>
        {/foreach}

        {input submit, "class" => "btn btn-primary"}
    {/form}
</div>
